In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set_theme(style='whitegrid', font_scale=1.5)
sns.set_palette('Set2', n_colors=10)
plt.rc('font', family='malgun gothic')
plt.rc('axes', unicode_minus=False)

In [ ]:
import streamlit as st
from datetime import date

In [ ]:
df = pd.read_csv('clensing data.csv')

In [ ]:
df['충전시작시각']=pd.to_datetime(df['충전시작시각'], format='%Y-%m-%d')
df['충전종료시각']=pd.to_datetime(df['충전종료시각'], format='%Y-%m-%d')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 635700 entries, 0 to 635699
Data columns (total 14 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  635700 non-null  int64
 1   충전구분        635700 non-null  object
 2   충전소명        635700 non-null  object
 3   주소          635700 non-null  object
 4   주소_구        635700 non-null  object
 5   충전기용량       635700 non-null  float64
 6   충전량         635700 non-null  float64
 7   총충전시간       635700 non-null  float64
 8   충전시간        635700 non-null  int64
 9   충전분         635700 non-null  int64
 10  충전시작시각      635700 non-null  datetime64[ns]
 11  충전종료시각      635700 non-null  datetime64[ns]
 12  Latitude    635700 non-null  float64
 13  Longitude   635700 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(3), object(4)
memory usage: 67.9+ MB

In [ ]:
df.head()

,Unnamed: 0,충전구분,충전소명,주소,주소_구,충전기용량,충전량,총충전시간,충전시간,충전분,충전시작시각,충전종료시각,Latitude,Longitude
0,0,급속,영등포전력지사,영등포구 경인로 878,영등포구,50.0,0.05,0.00,0,0,2021-01-01,2021-01-01,37.517129,126.910236
1,1,급속,영등포전력지사,영등포구 경인로 878,영등포구,50.0,13.10,0.48,0,29,2021-01-02,2021-01-02,37.517129,126.910236
2,2,급속,영등포전력지사,영등포구 경인로 878,영등포구,50.0,47.56,1.55,1,33,2021-01-02,2021-01-02,37.517129,126.910236
3,3,급속,영등포전력지사,영등포구 경인로 878,영등포구,50.0,24.77,0.63,0,38,2021-01-04,2021-01-04,37.517129,126.910236
4,4,급속,영등포전력지사,영등포구 경인로 878,영등포구,50.0,19.21,0.48,0,29,2021-01-04,2021-01-04,37.517129,126.910236

In [ ]:
df['총충전시간'].describe()

count    635700.000000
mean          2.014115
std           1.718866
min           0.000000
25%           0.730000
50%           1.400000
75%           2.970000
max           5.980000
Name: 총충전시간, dtype: float64

In [ ]:
st.set_page_config(page_title='Data_app', layout='wide')
st.title("Data_app")

In [ ]:
if st.button('새로고침'):
    st.experimental_rerun()

In [ ]:
my_df = df
st.sidebar.title("조건 필터")
st.sidebar.header("날짜 조건")
col1, col2 = st.sidebar.columns(2)
with col1:
    start_date = st.date_input("시작일시", date(2021, 1, 1),
                                       min_value=date(2021,1,1),
                                       max_value=date(2021,12,31))
with col2:
    end_date = st.date_input("종료일시", date(2021, 12, 31),
                                     min_value=date(2021,1,1),
                                     max_value=date(2021,12,31))
my_df = my_df[my_df['충전시작시각'].dt.date.between(start_date, end_date)]

In [ ]:
# In[10]:


st.sidebar.header('충전기')
option01 = st.sidebar.multiselect('충전구분', (my_df.충전구분.unique()), default=(my_df.충전구분.unique()))
my_df = my_df[my_df.충전구분.isin(option01)]
option02 = st.sidebar.multiselect('충전기용량', (my_df.충전기용량.unique()), default=(my_df.충전기용량.unique()))
my_df = my_df[my_df.충전기용량.isin(option02)]

In [ ]:
# In[11]:


st.sidebar.header('지역구 선택')
option03 = st.sidebar.multiselect('지역구', (my_df.주소_구.unique()), default=(my_df.주소_구.unique()))
my_df = my_df[my_df.주소_구.isin(option03)]

In [ ]:
# In[12]:


st.sidebar.header('충전시간')
option04 = st.sidebar.slider('충전시간',0.0,6.0,(0.0,6.0))
my_df=my_df[my_df['총충전시간']==option04]

In [ ]:
streamlit run data_app_team.py

SyntaxError: invalid syntax (432022559.py, line 1)